/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    article.main-page{
        background-size: auto;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    article.main-page{
        background-size: auto;
    }

    article.entry-page .comment-task .body-comment{
        width: 100%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    article.main-page{
        background-size: auto;
    }

    article.entry-page .comment-task .body-comment{
        width: 100%;
    }

}
